/*
rgba(239,56,40,255) 
#ef3828
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* common properties */
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    width: 25vw;
    background-color: #121416;
    color: whitesmoke;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.223);
    gap: 15px;
    padding: 0 20px;
    /* border: #121416 1px solid; */
    height: 70vh;
    border-radius: 10px 10px 0 0;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.project:hover {
    background-color: white;
    color: #121416;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.313);
    transform: scale(1.05);
}
.project:hover .project-name {
    font-size: larger;
    color: rgba(239, 56, 40, 255);
}

.project > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-image {
    width: 25vw;
    border-radius: 10px 10px 0 0;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    padding: 0 10vw;
    height: 100vh;
    padding-top: 20vh;
}
.my-contacts {
    color: rgba(239, 56, 40, 255);
}

/* Header Component */
.header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    mix-blend-mode: difference;
    backdrop-filter: blur(2px);
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
}
.logo {
    width: 8vw;
}
.header-comp {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-comps:hover {
    color: rgba(239, 56, 40, 255);
    cursor: pointer;
}
/* Starter Component */
.starter {
    color: white;
    background-color: rgb(18, 20, 22);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* About component */
.about {
    height: 100vh;

    background-color: rgb(18, 20, 22);
    color: white;
    padding: 0 10vw;
    padding-top: 20vh;
    border-radius: 0 0 100px 100px;
}
.about-body {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}
.profile-image {
    width: 20vw;
    border-radius: 10px;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.download-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 56, 40, 255);
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    height: 10vh;
    width: 10vw;
    border-radius: 10px;
}
.download-resume:hover {
    background-color: white;
    color: rgba(239, 56, 40, 255);
}

/* Project component */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
.project-container {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 60vh;
    gap: 2vw;
}

/* Footer component */
.footer {
    background-color: black;
    color: white;
    border-bottom: 2px #121416 solid;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    width: 100%;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0.5rem 0;
    gap: 3rem;
}
.heart {
    color: red;
    animation: pounding-heart 1s ease-in-out infinite;
    display: inline-block;
}

@keyframes pounding-heart {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.3);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #292c2f;
    margin: 0 10px;
}

.social-link a {
    color: #fff;
}

.fa {
    font-size: 24px;
}
.github {
    background-color: purple;
}
.fa-github {
    color: white;
}
.instagram {
    background-color: rgb(225, 144, 157);
}
.fa-instagram {
    color: white;
}

.linkedin {
    background-color: blue;
}
.fa-linkedin {
    color: white;
}
